<div class="container">
<h1>Instructor Application</h1>
<br>
<%= form_for(@instructor_app) do |f| %>
  <% if @instructor_app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instructor_app.errors.count, "error") %> prohibited this instructor_app from being saved:</h2>

      <ul>
      <% @instructor_app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label for= "status">
    Are you a student at Oberlin College? If so, what year are you?</label><br>
    <%= f.text_area :status, :rows => 10, :cols => 80 %>
  </div>
  <div class="field">
    <label for= "qualifications">
    How did you acquire interest and skill in this subject area? How long have you been involved?</label><br>
    <%= f.text_area :qualifications, :rows => 10, :cols => 80 %>
  </div>
  <div class="field">
    <label for= "teaching_exp">
    Have you had any experience as an activity or class instructor? Please be specific concerning dates and places, and include a description of your role.</label><br>
    <%= f.text_area :teaching_exp, :rows => 10, :cols => 80 %>
  </div>
  <div class="field">
    <label for= "problems">
    What problems do you foresee as a course instructor?</label><br>
    <%= f.text_area :problems, :rows => 10, :cols => 80 %>
  </div>
  <div class="field">
    <label for= "excos_taken">
    Have you taken an ExCo course before? If yes, please specify which one(s) and when.</label><br>
    <%= f.text_area :excos_taken, :rows => 10, :cols => 80 %>
  </div>
  <div class="field">
    <label for= "exco_problems">
    What problems did you encounter in your roled as a student in the ExCo course(s) and what would you do as an instructor to avoid these problems?</label><br>
    <%= f.text_area :exco_problems, :rows => 10, :cols => 80 %>
  </div>
  <div class="field">
    <label for= "safe_space">
    Define what you believe a safe space would look like in the context of your class.</label><br>
    <%= f.text_area :safe_space, :rows => 10, :cols => 80 %>
  </div>
  <%= f.hidden_field :instance_id, :value=>params[:instance_id] %>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
</div>
