<%= form_for(@instructor_app) do |f| %>
  <% if @instructor_app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instructor_app.errors.count, "error") %> prohibited this instructor_app from being saved:</h2>

      <ul>
      <% @instructor_app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <label for ="instructor">Instructor Name:</label>
    <select name = "instructor">
        <%= options_for_select(@instructors.map{ |i| [i.name, i.id]}) %>
        </select><br>

  <div class="field">
    <%= f.label :course %><br>
    <select name = "course">
        <%= options_for_select(@instances.map{ |i| [i.title, i.title]}) %>
        </select><br>
  </div>
  <div class="field">
    <%= f.label :tnumber %><br>
    <%= f.text_field :tnumber %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_area :status %>
  </div>
  <div class="field">
    <%= f.label :qualifications %><br>
    <%= f.text_area :qualifications %>
  </div>
  <div class="field">
    <%= f.label :teaching_exp %><br>
    <%= f.text_area :teaching_exp %>
  </div>
  <div class="field">
    <%= f.label :problems %><br>
    <%= f.text_area :problems %>
  </div>
  <div class="field">
    <%= f.label :excos_taken %><br>
    <%= f.text_area :excos_taken %>
  </div>
  <div class="field">
    <%= f.label :exco_problems %><br>
    <%= f.text_area :exco_problems %>
  </div>
  <div class="field">
    <%= f.label :safe_space %><br>
    <%= f.text_area :safe_space %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
