<%= form_for(@instance) do |f| %>
  <% if @instance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instance.errors.count, "error") %> prohibited this instance from being saved:</h2>

      <ul>
      <% @instance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class ="field">
      <label for = "title">Select a course to renew, or enter the title of a new course</label><br>
      <select name = "title">
            <option value = "" selected = "selected">I'm Making a New Course</option>
          <%= options_for_select(@courses.map{ |c| [c.title, c.title]}) %>
        </select><br>
      New Course Title: <input type = "text" name = "new_title">

  </div>
  <% curYear = Time.now.year %>
  <% years = Array.new()%>
  <% for i in -2..3 %>
    <% years<<[curYear+i,curYear+i] %>
  <% end %>


  <div class="dropdown field">
    <%= f.label :year %><br>
    <%= f.select :year, options_for_select(years, curYear), {class: "dropdown-menu form-control"} %>
  </div>
  <div class="field">
    <%= f.label :semester %><br>
      <%= f.radio_button :semester, "Fall", :checked => true %> Fall &nbsp;
      <%= f.radio_button :semester, "Spring" %> Spring
  </div>
  <div class="field">
    <label for = "section">Section (should be 1 unless there are multiple sections of your course)</label><br>
    <%= f.number_field :section, :value=>'1' %>
  </div>
  <%= f.hidden_field :user_id, :value=>current_user.id %> 
  <div class="actions">
    <%= f.submit class: 'btn btn-primary'%>
  </div>
<% end %>
