<h1><%= @instance.title %></h1>
<p>
  <strong>Year:</strong>
  <%= @instance.year %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @instance.semester %>
</p>




<table class = "table">
    <tr>
        <th>Component</th>
        <th>Status (click to edit)</th>
        <th>Date Submitted</th>
    
    </tr>
    
    <tr>
        <td>Course Application</td>
        <% if @instance.renewal %>
            <% if @instance.application_renewal %>
        <td><%= link_to 'Completed', edit_application_renewal_path(@instance.application_renewal) %></td>
                <td><%= @instance.application_renewal.updated_at %></td>
            <% else %>
                <td><%= link_to 'Create New Application Renewal', new_application_renewal_path %></td>
                <td>NOT SUBMITTED</td>
            <% end %>
        <% else %>
            <% if @instance.new_course %>
        <td><%= link_to 'Completed', edit_new_course_path(@instance.new_course) %></td>
                <td class = "text-success"><%= @instance.new_course.updated_at %></td>
            <% else %>
                <td><%= link_to 'Create New Course Application', new_new_course_path %> </td>
                <td class = "text-danger">NOT SUBMITTED</td>
            <% end %>
        <% end %>
    </tr>
    <tr>
        <td>Instructor Application 1</td>
        <% if @instructor1 != nil %>
            <td><%= link_to @instructor1.instructor.name, edit_instructor_app_path(@instructor1)%></td>
            <td class = "text-success"><%= @instructor1.updated_at %></td>
        <% else %>
        <td><%= link_to 'None - Create New Instructor Application', new_instructor_app_path %></td>
            <td class = "text-danger">NOT SUBMITTED</td>
        <% end %>
    </tr>
    <tr>
        <td>Instructor Application 2</td>
        <% if @instructor2 != nil%>
            <td><%= link_to @instructor2.instructor.name, edit_instructor_app_path(@instructor2)%></td>
            <td class = "text-success"><%= @instructor2.updated_at %></td>
        <% else %>
        <td><%= link_to 'None - Create New Instructor Application', new_instructor_app_path %></td>
            <td class = "text-danger">NOT SUBMITTED</td>
        <% end %>
    </tr>

</table>


<hr>
<p>
  <strong>Location:</strong>
  <%= @instance.location %>
</p>

<p>
  <strong>Time:</strong>
  <%= @instance.time %>
</p>

<p>
  <strong>Section:</strong>
  <%= @instance.section %>
</p>

<%= link_to 'Edit', edit_instance_path(@instance) %> |
<%= link_to 'Back', instances_path %>

<%= commontator_thread(@instance) %>

