<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
    <%= @instance.title %>
</p>
<p>
  <strong>Year:</strong>
  <%= @instance.year %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @instance.semester %>
</p>

<p>
  <strong>Location:</strong>
  <%= @instance.location %>
</p>

<p>
  <strong>Time:</strong>
  <%= @instance.time %>
</p>

<p>
  <strong>Section:</strong>
  <%= @instance.section %>
</p>


<table class = "table">
    <tr>
        <th>Component</th>
        <th>Status</th>
        <th>Date Submitted</th>
    
    </tr>
    
    <tr>
        <td>Course Application</td>
        <% if @instance.renewal %>
            <% if @instance.application_renewal %>
                <td><%= link_to 'Go To Renewal', edit_application_renewal_path(@instance.application_renewal) %></td>
                <td><% @instance.application_renewal.updated_at %></td>
            <% else %>
                <td><%= link_to 'Create New Application Renewal', new_application_renewal_path %></td>
                <td>NOT SUBMITTED</td>
            <% end %>
        <% else %>
            <% if @instance.new_course %>
                <td><%= link_to 'Go To Application', edit_new_course_path(@instance.new_course) %></td>
                <td><% @instance.new_course.updated_at %></td>
            <% else %>
                <td><%= link_to 'Create New Course Application', new_new_course_path %> </td>
                <td>NOT SUBMITTED</td>
            <% end %>
        <% end %>
    </tr>
    <tr>
        <td>Instructor Application 1</td>
            <td><%= link_to 'New Intructor Application', new_instructor_app_path %></td>
            <td>NOT SUBMITTED</td>
    </tr>
    <tr>
        <td>Instructor Application 2</td>
            <td><%= link_to 'New Intructor Application', new_instructor_app_path %></td>
            <td>NOT SUBMITTED</td>
    </tr>


</table>

<%= link_to 'Edit', edit_instance_path(@instance) %> |
<%= link_to 'Back', instances_path %>
