<p id="notice"><%= notice %></p>
<h1><%= current_user.email %></h1>

<h3>Your Instances:</h3>
<table class = "table">
    <tr>
        <th>Course</th>
        <th>Semester</th>
        <th>Instructor App</th>
        <th>Course Application</th>
    </tr>
    
    <% @instances.each do |i| %>
        <tr>
            <td><%=link_to i.title, instance_path(i.id) %></td>
            <td><%= i.semester %> <% i.year %></td>
            <% if i.instructor_apps.length != 0 %>
                <td class = "text-success">
            <% else %>
                <td class = "text-success">
            <% end %>
            <%= i.instructor_apps.length %> Instructor Apps Submitted
            </td>
            <% if i.application_renewal != nil %>
                <td class = "text-success">Course Renewal Submitted</td>
            <% elsif i.new_course%>
                <td class = "text-success">New Course Application Submitted</td>
            <% else %>
                <td class = "text-danger">No Course Application</td>
            <% end %>
        
        </tr>
    <% end %>


</table>