<div class = "container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Course Title:</strong>
    <%= new_course.instance.title %>
</p>

<p>
  <strong>Division:</strong>
  <%= new_course.divison %>
</p>

<p>
  <strong>Describe your course:</strong><br>
  <%= new_course.description %>
</p>

<p>
  <strong>Why should this class be an ExCo?</strong><br>
  <%= new_course.why_exco %>
</p>

<p>
  <strong>How will you formally evaluate your students accomplishments?</strong><br>
  <%= new_course.evaluations %>
</p>



<p>
  <strong>Hours to meet per week: </strong>
  <%= new_course.hours_meet %>
</p>

<p>
  <strong>Hours of outside work per week: </strong>
  <%= new_course.hours_outside %>
</p>
<p>
  <strong>Credits:</strong>
  <%= new_course.credits %>
</p>
<p>
  <strong>Capactiy:</strong>
  <%= new_course.capactiy %>
</p>

<p>
  <strong>Requested signature from chairperson:</strong>
    <% if new_course.signature != "" %>
        <%= new_course.signature %>
    <% else %>
        No signature needed
    <% end %>
</p>

<%= commontator_thread(new_course) %>    
</div>
