<table class = "table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Semester</th>
      <th>Divison</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @new_courses.each do |new_course| %>
      <tr>
        <td><%= new_course.name %></td>
        <td><%= new_course.semester %> <%= new_course.year %></td>
        <td><%= new_course.divison %></td>
        <td><%= link_to 'Show', new_course %></td>
        <td><%= link_to 'Edit', edit_new_course_path(new_course) %></td>
        <td><%= link_to 'Destroy', new_course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New New course', new_new_course_path %>
