<p id="notice"><%= notice %></p>

<h1>Listing Application Renewals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Semester</th>
      <th>Year</th>
      <th>Credits</th>
      <th>Capactiy</th>
      <th>Problems</th>
      <th>Changes</th>
      <th>Engagement</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @application_renewals.each do |application_renewal| %>
      <tr>
        <td><%= application_renewal.name %></td>
        <td><%= application_renewal.semester %></td>
        <td><%= application_renewal.year %></td>
        <td><%= application_renewal.credits %></td>
        <td><%= application_renewal.capactiy %></td>
        <td><%= application_renewal.problems %></td>
        <td><%= application_renewal.changes %></td>
        <td><%= application_renewal.engagement %></td>
        <td><%= link_to 'Show', application_renewal %></td>
        <td><%= link_to 'Edit', edit_application_renewal_path(application_renewal) %></td>
        <td><%= link_to 'Destroy', application_renewal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Application renewal', new_application_renewal_path %>
